.title {
  font-family: cursive;
  font-size: 36px;
  text-align: center;
}
.featured {
  font-size: 24px;
  font-family: Helvetica;
  border: 7px dotted orange;
  margin-top: 30px;
  margin-right: 40px;
  margin-bottom: 30px;
  margin-left: 40px;
  padding-top: 10px;
  padding-right: 11px;
  padding-bottom: 12px;
  padding-left: 13px;
}

h2{
  padding-top:1px;
  padding-right:2px;
  padding-bottom:3px;
  padding-left:4px;
  margin-top: 2px;
  margin-right: 4px;
  margin-bottom: 6px;
  margin-left: 8px;
  border: 1px red dotted; 
}

.content {
  font-size: 20px;
  font-family: Arial;
  border: 2px solid black;

  /* Adds 0 pixels of margin to the top
            30 pixels of margin to the right side
            50 pixels of margin to the bottom
            15 pixels of margin to the left side
    */

  margin: 0px 30px 50px 15px;
}
.footer {
  font-size: 11px;
  /* Add space to the left side */
  margin-left: 30px;
}

body {
  background-color: AliceBlue;
  width: 80%;
}

.feat-title {
  font-weight: bolder;
  font-family: fantasy;
  text-decoration: underline;
}

/* Style the h2 tags inside of the content div */
.content h2 {
  font-style: italic;
}

/* Add a divider between sections using CSS instead of hr*/
/* Chooses all h2 tags that follow directly after p */
p + h2 {
  border-top: 2px solid gray;
}
