/* Complete the challenge by writing CSS below */

.row {
    display:flex;
	/* flex-wrap: wrap;
    justify-content: space-between; */
}
/* 
 relative to width of screen */
.item2 {
    order:-1;
    flex-grow: 10;
}

.item4 {
    order:1;
    flex-shrink: 4;
}

.item {
    flex-basis: 200px; 
}